@import "./base";

.app-left-enter {
    position: absolute;
    left: $spacing;
    right: $spacing;
    transform: translate3d(120%,0,0);
}

.app-left-enter.app-left-enter-active {
    transform: translate3d(0%,0,0);
    transition: transform 500ms;
}

.app-left-leave {
    position: absolute;
    left: $spacing;
    right: $spacing;
    transform: translate3d(0%,0,0);
}

.app-left-leave.app-left-leave-active {
    transform: translate3d(-120%,0,0);
    transition: transform 500ms;
}

.app-right-enter {
    position: absolute;
    left: $spacing;
    right: $spacing;
    transform: translate3d(-120%,0,0);
}

.app-right-enter.app-right-enter-active {
    transform: translate3d(0%,0,0);
    transition: transform 500ms;
}

.app-right-leave {
    position: absolute;
    left: $spacing;
    right: $spacing;
    transform: translate3d(0%,0,0);
}

.app-right-leave.app-right-leave-active {
    transform: translate3d(120%,0,0);
    transition: transform 500ms;
}