//Colors
$main: #54BE68;
$text-color: #262626;
$grey: #EBEBEB;
$dark-grey: #969696;
$middlegrey: lighten($dark-grey,15%);
$warning: #f55046;
$white: #FFF;

//Dimensions
$spacing: 20px;
$half-spacing: $spacing / 2;
$input-spacing: 4px;
$border-radius: 6px;

$mobile: "(max-width: 400px)";
$tablet: "(max-width: 780px)";
$laptop: "(max-width: 1000px)";
$desktop: 1140px;
$header-height: 44px;

//Fonts
$font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$h1-size: 36px;
$h2-size: 24px;
$text-size: 14px;
$button-size: 18px;
$line-height: 1.4em;

//Mixins

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin calc-width($width, $sign, $space) {
    width: -webkit-calc(#{$width $sign $space});
    width:         calc(#{$width $sign $space});
}

@mixin placeholder() {

    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

.clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//Base styles

html,body {
    background-color: $grey;
}

html, body, button, input, p, h1, h2, h3, h4, h5, h6, a {
    font-family: $font-family;
    color: $text-color;
    font-size: $text-size;
    line-height: $line-height;
}

a {
    color: $main;

    &:hover {
        text-decoration: underline;
    }
}

label {
    display: none;
}

body {
    margin-top: $header-height + $spacing;
}

.logo {
    width: 100px;
    margin-top: -10px;
    margin-bottom: -14px;
}

div.wrapper {
    max-width: $desktop;
    margin: 0 auto;
    padding: $spacing;
    position:relative;
}

div.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;

    &.auth {
        background-color: $main;
    }

    > div.auth-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @media #{$mobile} {
            margin: $spacing * 4 $half-spacing;
            position: static;
            transform: none;
        }

    }

    > div.c-status-message {
        top: 0 !important;
    }

    img.logo {
        @extend .logo;
        margin-bottom: $spacing;
    }
}

.content-box {
    box-sizing: border-box;
    background-color: $white;
    border-radius: $border-radius;
    padding: $spacing;
    margin-bottom: 20px;
    position: relative;

    &.extract {
        background-image: url("/extract.png");
        background-size: 200px auto;
        background-position: -30px -30px;
        background-repeat: no-repeat;
    }

    &.hops {
        background-image: url("/hops.png");
        background-size: 200px auto;
        background-position: -40px -40px;
        background-repeat: no-repeat;
    }

    &.yeast {
        background-image: url("/yeast.png");
        background-size: 150px auto;
        background-position: -20px -30px;
        background-repeat: no-repeat;
    }

    &.other-ingredients {
        background-image: url("/other.png");
        background-size: 220px auto;
        background-position: -40px -20px;
        background-repeat: no-repeat;
    }

    @media #{$mobile} {
        padding: $spacing $half-spacing;

        &.full-width-mobile {
            padding: $spacing  0  0 $half-spacing;
            border-radius: 0;
        }
        position: static;
    }
}


.button {
    cursor: pointer;
    box-sizing: border-box;
    font-size: $button-size;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 10px 40px;
    margin: 10px 0;
    border-radius: $border-radius;
    display: block;
}

p {
    margin-bottom: $spacing;
}

h2, .input-header {
    font-size: $h2-size;
    margin-top: -$half-spacing;
    margin-bottom: $half-spacing;
}

h2 {
    line-height: normal;
    margin: 0;
    padding-bottom: $spacing;
}

.main-button {
    @extend .button;

    background-color: $main;
    color: $white;
    width: 100%;
    margin-top: 0;

    @include transition(background-color 0.3s);

    &:hover {
        background-color: darken($main, 10%);
    }

    &:active {
        background-color: $main;
    }

    &.center {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}