@import "../../layouts/base";

table.c-table {
    width: 100%;

    tr {
        td, th {
            text-align: left;
        }

        th {
            padding: 4px;
        }
    }

    th, tfoot td, tfoot input {
        font-weight: bold;
    }

    tr.mobile-row {

        border-width: 1px 0;
        border-color: $grey;
        border-style: solid;

        th, td {
            font-weight: normal;
            padding: 10px 0 10px 10px;
        }

        td {
            text-align: right;
            padding: 10px 10px 10px 0;
        }
    }

    tr.mobile-first-row {
        th, td {
            font-weight: bold;
        }
    }
}
