@import "../../layouts/base";
@import "../base/Input";

input.c-autocomplete {
    @extend input.c-input;
}

label.c-autocomplete-label {
    @extend label.c-input-label;
}

div.c-autocomplete-list {
    box-sizing: border-box;
    background-color: white;
    @include calc-width(100%, "-", $spacing * 2);
    max-width: 300px;
    z-index:300;


    a.c-autocomplete-field div {
        padding: $input-spacing;
        color: $text-color;
        text-decoration: none;
        border-top: solid 1px $grey;

        &:hover {
            background-color: rgba($main, 0.6);
        }
    }

    a.c-autocomplete-selected div {
        background-color: $main;
    }

    @media #{$mobile} {
        left: 0;
        width: 100%;
        max-width: 100%;

        a.c-autocomplete-field div {
            text-align: center;
            padding: $half-spacing;
        }
    }
}

form.add-fermentable,
form.add-hop,
form.add-yeast
{
    input.c-autocomplete {
        cursor: pointer;
        min-width: 0;
        width: 60px;
        height: 30px;
        position: absolute;
        top: $spacing;
        right: $spacing;
        border: 1px solid $main;
        border-radius: $spacing;
        text-align: center;
        @include transition(width 0.3s);


        @include placeholder() {
            color: $main;
            text-align: center;
        }

        &:hover {
            background-color: $main;
            @include placeholder() {
                color: $white;
            }
        }

        &:focus {
            background-color: $main;
            color: $white;
            width: 300px;
            //border-top-left-radius: $half-spacing;
            //border-top-right-radius: $half-spacing;
            //border-bottom-right-radius: 0;
            //border-bottom-left-radius: 0;
            border-radius: $half-spacing $half-spacing 0 0;
            border-bottom: 0;
            @include placeholder() {
                color: transparent;
            }

        }

        @media #{$mobile} {
            position: static;
            display: block;
            padding: $half-spacing !important;
            margin: $half-spacing auto 0 auto;

            &:focus {
                border-radius: 0;
                margin-left: -$half-spacing;
                margin-right: 0;
                @include calc-width(100%, "+", $half-spacing);
            }

        }


    }

    div.c-autocomplete-list {
        right: $spacing;
        top: $spacing + 30px;
        border: 1px solid $main !important;
        border-radius: 0 !important;
        border-bottom-right-radius: $half-spacing !important;
        border-bottom-left-radius: $half-spacing !important;
        min-height: 200px;
        max-height: 300px !important;
        opacity: 1.0;


        a.c-autocomplete-field div {
            padding: $input-spacing;
            text-align: center;
            color: $text-color;
            text-decoration: none;
            border-top: solid 1px rgba($main, 0.4);

            &:hover {
                background-color: rgba($main, 0.4);
            }
        }

        a.c-autocomplete-selected div {
            background-color: $main;
            color: $white;
        }

        a.c-autocomplete-field:first-child div {
            border-top: 0;
        }

        @media #{$mobile} {
            left: 0;
            right: inherit;
            top: inherit;
            width: 100%;
            max-width: 100%;
            border-radius: 0 !important;

            a.c-autocomplete-field div {
                text-align: center;
                padding: $half-spacing;
            }
        }


    }

    @media #{$mobile} {
        padding-bottom: $spacing;
    }

}

form.add-yeast {
    width: 100%;

    input.c-autocomplete {
        position: static;
        margin: 0 auto;

        &:focus {
            width: 100%;

            @media #{$mobile} {
                @include calc-width(100%, "+", $half-spacing);
            }
        }
    }

    div.c-autocomplete-list {
        right: auto;
        top: auto;
        @include calc-width(100%, "-", $spacing * 2);

        @media #{$mobile} {
            width: 100%;
        }
    }
}