
table.responsive-table {
    width: 100%;
    margin-bottom: $spacing;
    tr {
        td, th {
            text-align: left;
            vertical-align: middle;

            label {
                display: none;
            }
        }

        th {
            padding: $input-spacing;
            font-weight: bold;
        }

    }

    @media #{$tablet} {

        tbody {
            border-bottom: 1px solid $dark-grey;
        }

        table, tbody, th, td, tr {
            display: block;
        }
        thead {
            display: none;
        }

        tbody, tfoot {
            tr {
                td {
                    border-top-width: 1px;
                    border-color: $grey;
                    border-style: solid;
                    display: block;
                    width: 100%;

                    label {
                        display: block;
                        position: absolute;
                        font-weight: normal;
                        padding: $half-spacing;
                        margin-left: -$half-spacing;
                    }

                    input[type=text], input[type=number], select {
                        box-sizing: border-box;
                        padding: $half-spacing;
                        @include calc-width(100%, "+", $spacing);
                        text-align: right;
                        margin-left: -$half-spacing;

                        @media #{$mobile} {
                            width: 100%;
                            margin: 0;

                            &:focus {
                                @include calc-width(100%, "+", $half-spacing);
                                margin-left: - $half-spacing;
                            }
                        }
                    }

                    select {
                        direction:rtl;

                        option {
                            direction: rtl;
                        }
                    }
                }

                td:first-child {
                    border-top-color: $dark-grey;
                }
            }
        }

        tfoot {
            tr {
                border-bottom: solid 1px $dark-grey;
                td {
                    border: 0;

                    input, label {
                        font-weight: bold;
                    }
                }
            }
        }

        tr:first-child {
            border-top-color: $dark-grey;
        }
    }
}