
table.responsive-table {
    width: 100%;
    margin-bottom: $spacing;
    tr {
        td, th {
            text-align: left;
            vertical-align: middle;

            label {
                display: none;
            }
        }

        th {
            padding: $input-spacing;
            font-weight: bold;
        }

    }

    @media #{$tablet} {

        table, tbody, th, td, tr {
            display: block;
        }
        thead {
            display: none;
        }

        tbody, tfoot {
            tr {
                td {
                    border-top-width: 1px;
                    border-color: $grey;
                    border-style: solid;
                    display: block;
                    width: 100%;

                    label {
                        display: block;
                        position: absolute;
                        font-weight: normal;
                        padding: $half-spacing;
                        margin-left: -$half-spacing;
                    }

                    input[type=text], input[type=number], select {
                        box-sizing: border-box;
                        padding: $half-spacing;
                        @include calc-width(100%, "+", $spacing);
                        text-align: right;
                        margin-left: -$half-spacing;

                        @media #{$mobile} {
                            width: 100%;
                            margin: 0;

                            &:focus {
                                @include calc-width(100%, "+", $half-spacing);
                                margin-left: - $half-spacing;
                            }
                        }
                    }

                    select {
                        direction:rtl;

                        option {
                            direction: rtl;
                        }
                    }
                }

                td:first-child {
                    border-top-color: $dark-grey;
                }
            }
        }

        tfoot {

            tr {
                td {
                    border: 0;

                    input, label, input[disabled] {
                        background-color: $main;
                        -webkit-text-fill-color: $white;
                        color: $white;
                        font-weight: bold;
                    }
                }
            }
        }

        tr:first-child {
            border-top-color: $dark-grey;
        }
    }
}

div.responsive-info {

    > div {
        display: inline-block;
        width: 20%;
        margin-bottom: $half-spacing;
    }

    &.row-3 {
        > div {
            width: 33%;

            @media #{$tablet} {
                width: 100%;
            }
        }
    }

    &.side {
        > div, > form {
            display: block;
            width: 100%;

            input[type=text], input[type=number], select {
                width: 100%;
            }
        }
    }

    @media #{$laptop} {
        &.side {
            > form {
                display: inline-block;
                width: 40%;
            }
            > div {
                display: inline-block;
                width: 20%;
            }
        }
    }

    @media #{$tablet} {
        > div, > form, &.side > form, &.side > div {
            display: block;
            width: 100%;
            border-top: 1px solid $grey;
            margin-bottom: 0;

            label {
                display: block;
                position: absolute;
                font-weight: normal;
                padding: $half-spacing;
                margin-left: -$half-spacing;

                @media #{$mobile} {
                    margin-left: -$input-spacing;
                }
            }

            input[type=text], input[type=number], select {
                box-sizing: border-box;
                padding: $half-spacing;
                @include calc-width(100%, "+", $spacing);
                text-align: right;
                margin-left: -$half-spacing;

                @media #{$mobile} {
                    width: 100%;
                    margin: 0;

                    &:focus {
                        @include calc-width(100%, "+", $half-spacing);
                        margin-left: - $half-spacing;
                    }
                }
            }

            select {
                direction:rtl;

                option {
                    direction: rtl;
                }
            }
        }
    }
}