@import "../../layouts/base";

button.c-confirm-button {
    margin: $input-spacing / 2 0;
    border-radius: $input-spacing * 5;
    padding: 1px $input-spacing * 1.5;
    width: auto;
    max-width:30px;
    font-weight: bold;
    overflow:hidden;
    float:right;
    cursor: pointer;

    @include transition(all 0.3s);

    @media #{$tablet} {
        float: none;
        display: block;
        margin: $input-spacing * 2 auto;
        font-size: 18px;
        padding: $input-spacing / 4 $input-spacing * 2;
    }

    &.delete {
        background-color: $white;
        color: $warning;

        &:hover {
            background-color: $warning;
            color: $white;
        }
    }

    &.show {
        max-width: 100%;

        &.delete {
            background-color: $warning;
            color: $white;
        }
    }
}