@import "../../layouts/base";

button.c-confirm-button {
    margin: $input-spacing / 2 0;
    border-radius: $input-spacing * 5;
    padding: $input-spacing / 2 $input-spacing * 1.7;
    width: auto;
    max-width:30px;
    font-weight: bold;
    overflow:hidden;
    float:right;

    @include transition(max-width 0.3s);

    @media #{$tablet} {
        float:left;
        position:relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 8px 0;
    }

    &.delete {
        background-color: $warning;
        color: $white;
    }

    &.show {
        max-width: 100%;
    }
}