@import "../../layouts/base";

input.c-input {
    box-sizing: border-box;
    padding: $input-spacing;
    background-color: transparent;
    display: block;
    border-radius: 2px;
    border: dashed 1px transparent;
    @include transition(border 0.3s);
    line-height: normal;

    &[type=text] {
        width: 100%;
    }

    &[type=number] {
        width: 100px;
    }

    &:hover {
        border: dashed 1px $dark-grey;
        @media #{$mobile} {
            border-color: transparent;
        }
    }

    &:focus {
        border: solid 1px $dark-grey;
        z-index: 300;
    }

    &[disabled] {
        -webkit-text-fill-color: $dark-grey;
        color: $dark-grey;
        border: solid 1px transparent;
    }

    @media #{$mobile} {
        border:0;
        &:hover, &:focus, &[disabled] {
            border: 0;
        }

        &:focus {
            position: relative;
            background-color: $white;
            text-align: center !important;
        }

    }
}

label.c-input-label {
    display: inline;
    padding: 4px;
}