@import "../../layouts/base";

div.c-status-message.wrapper {
    padding: 0;
    transform: scale(0.0);
    transition: transform 500ms;

    @media #{$mobile} {
        transform: translateY(100px);
    }

    &.active {
        transform: scale(1.0);
        z-index: 390;
        background-color: $dark-grey;
        box-sizing: border-box;
        padding: $half-spacing;
        border-radius: $border-radius;
        position: fixed;
        box-shadow: 0 0 5px $dark-grey;
        left: 10%;
        bottom: 10%;

        p {
            color: $white;
            float: left;
            margin-top: 2px;
            margin-bottom: 0;
            padding: 0 $half-spacing;
        }

        button {
            color: darken($dark-grey, 20%);
            background-color: transparent;
            cursor: pointer;
            float:right;
        }

        &.error {
            background-color: $warning;

            button {
                color: darken($warning, 20%);
            }
        }

        &.save {
            background-color: $main;

            button {
                color: darken($main, 20%);
            }
        }

        &.saving {
            background-color: $sync;

            button {
                color: darken($sync, 20%);
            }
        }

        @media #{$laptop} {
            left: $spacing;
        }

        @media #{$mobile} {
            box-shadow: none;
            width: 100%;
            bottom: 0;
            left: 0;
            border-radius: 0;
            transform: translateY(0);
        }
    }
}