@import "../../layouts/base";
table.c-table {
    width: 100%;

    tr {
        td, th {
            text-align: left;
            vertical-align: middle;
        }

        th {
            padding: $input-spacing;
        }

    }

    th, tfoot td, tfoot th, tfoot input {
        font-weight: bold;
    }

    tr.mobile-row {

        border-top-width: 1px;
        border-color: $grey;
        border-style: solid;

        th {
            position:absolute;
            line-height: normal;
            padding-top: $half-spacing;
            font-weight: normal;
        }

        td {
            text-align: right;
            width: 100%;

            input, select {

                padding: $half-spacing;
                margin-left: -$half-spacing;
                @include calc-width(100%,"+", $half-spacing);
                text-align: right;
            }

            select {
                direction:rtl;

                option {
                    direction: rtl;
                }
            }

        }
    }

    tfoot tr.mobile-row {
        border-top-color: $dark-grey;

        th {
            font-weight: bold;
        }
    }

    tr.mobile-first-row {
        border-top-color: $dark-grey;
    }
}

//React transition group names for handling animations on enter, appear and leave of elements
.c-table-tbody-enter {
    opacity: 0.01;
    transform:translateY(-10px);
}

.c-table-tbody-enter.c-table-tbody-enter-active {
    opacity: 1;
    transform:translateY(0);
    @include transition(transform 0.5s, opacity 0.5s);
}

.c-table-tbody-leave {
    opacity: 1;
    transform:translateY(0);
}

.c-table-tbody-leave.c-table-tbody-leave-active {
    opacity: 0.01;
    transform:translateY(-10px);
    @include transition(transform 0.5s, opacity 0.5s);
}