header.c-navigation-bar {
    background-color: $main;
    height: $header-height;
    border-bottom: solid 1px $middlegrey;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 400;

    a {
        color: $white;
        font-size: 16px;
    }

    div.wrapper {
        padding: $spacing $spacing;

        img.logo {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 23px;
        }

        nav {
            float: right;

            a.menu-icon {
                display: inline-block;
                position: relative;
                top: -6px;
                width: 34px;
                height: 34px;
                border-radius: 17px;
                background-color: white;

                &:hover {
                    background-color: lighten($main, 40%);
                }

                &:before {
                    content: "";
                    background-color: $main;
                    position: absolute;
                    width: 12px;
                    height: 13px;
                    border-radius: 10px;
                    left: 11px;
                    top: 5px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 4px;
                    height: 14px;
                    width: 26px;
                    background-color: $main;
                    border-radius: 14px 14px 0 0;
                }

                > span.menu-head {
                    display: inline-block;
                    position: absolute;
                    background-color: $main;
                    width: 10px;
                    height: 10px;

                }
            }

            ul.expanded-list {
                position: absolute;
                display: block;
                margin-top: 2px;
                padding: $half-spacing 0;
                right: $spacing;
                background-color: $white;
                box-shadow: 1px 1px 10px rgba($dark-grey, 0.9);
                border-radius: $border-radius;

                > li {
                    > a {
                        text-align: center;
                        min-width: 200px;
                        color: $main;
                        display:block;
                        padding: $input-spacing;

                        &:hover {
                            background-color: $main;
                            color: $white;
                            text-decoration: none;
                        }
                    }
                }

                //Box arrow
                &:before {
                    bottom: 100%;
                    right: 7px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-bottom-color: $white;
                    border-width: 10px;
                    margin-left: -10px;
                }

                @media #{$mobile} {
                    margin-top: 0;
                    top: $header-height;
                    left: 0;
                    right: 0;
                    border-radius: 0;
                    padding: 0;
                    box-shadow: none;
                    border-bottom: 1px solid $main;

                    > li {
                        border-top: 1px solid $grey;

                        > a {
                            padding: $input-spacing * 2;
                        }
                    }

                    &:before {
                        display: none;
                    }
                }

            }
        }

        @media #{$mobile} {
            padding: $spacing $half-spacing;

            nav {
                right: $half-spacing;
            }
        }
    }

}