header.c-navigation-bar {
    background-color: $main;
    height: $header-height;
    border-bottom: solid 1px $middlegrey;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 400;

    a {
        color: $white;
        font-size: 16px;
    }

    div.wrapper {
        padding: $spacing $spacing;

        img.logo {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 23px;
        }

        nav {
            float: right;

            ul.expanded-list {
                position: absolute;
                display: block;
                margin-top: $half-spacing;
                padding: $half-spacing 0;
                right: $spacing;
                background-color: $white;
                box-shadow: 1px 1px 10px rgba($dark-grey, 0.9);
                border-radius: $border-radius;

                > li {
                    > a {
                        text-align: center;
                        min-width: 200px;
                        color: $main;
                        display:block;
                        padding: $input-spacing;

                        &:hover {
                            background-color: $main;
                            color: $white;
                        }
                    }
                }

                //Box arrow
                &:before {
                    bottom: 100%;
                    right: 20%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-bottom-color: $white;
                    border-width: 10px;
                    margin-left: -10px;
                }

            }
        }

        @media #{$mobile} {
            padding: $spacing $half-spacing;

            nav {
                right: $half-spacing;
            }
        }
    }

}